@using Sandbox;
@using Sandbox.UI;
@using System.Linq;
@using System.Threading.Tasks;

@inherits RootPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]

<root style="flex-direction: column;">
    <div class="background" />

    <div class="game-title">
        @Game.Menu.Package.Title
    </div>

    <div style="flex-grow: 1;" />

    <div class="controls">
        @if ( Game.InGame )
        {
            <a class="button" onclick=@LeaveGame>Leave</a>
        }
        else
        {
            <a class="button" onclick=@Play>Play</a>

            if ( Game.Menu.Package.SupportsSavedGames && Game.Menu.SavedGames.Any() )
            {
                <a class="button" onclick=@LoadSavedGame>Load</a>
            }
        }

        <a class="button" @onclick=@Game.Menu.Close>Quit</a>
    </div>
</root>

@code
{
    public MainMenu()
    {
        BindClass( "ingame", () => Game.InGame );
    }

    void LoadSavedGame()
    {
        // blah blah blah
    }

    async Task Play()
    {
        await Game.Menu.StartServerAsync( 16, "My cool server", "facepunch.square" );
    }

    void LeaveGame()
    {
        Game.Menu.LeaveServer( "Leaving" );
    }
}
