@using Sandbox;
@using Sandbox.UI;

@inherits Panel

<root>
    <PackageList ShowFilters="@true" style="padding-bottom: 50px;" Query="type:map sort:popular" OnSelected="@OnPackageSelected" Take=@(50)></PackageList>

    <div style="height: 64px;" />

    <div class="controls">
        <a href="/setup">Return</a>
    </div>
</root>

@code
{
    void OnPackageSelected( Package package )
    {
        Game.Menu.Lobby.Map = package.FullIdent;
        this.Navigate( "/setup" );
    }
}
