@using Sandbox;
@using Sandbox.UI;
@using System.Linq;

@inherits Panel

<root>
    <PackageList ShowFilters="@true" style="padding-bottom: 50px;" Query="type:map sort:popular" OnSelected="@OnPackageSelected" Take=@(50)></PackageList>

    <div style="height: 64px;" />

    <div class="controls">
        <a @onclick=@GoBack>Return</a>
    </div>
</root>

@code
{
    void OnPackageSelected( Package package )
    {
        Game.Menu.Lobby.Map = package.FullIdent;
        GoBack();
    }

    void GoBack()
    {
        AncestorsAndSelf.OfType<NavHostPanel>().FirstOrDefault()?.GoBack();
    }
}
