Hud
{
    pointer-events: none;

    .pointer-visible
    {
        pointer-events: all;
    }

    &.camera-movement
    {
        .pointer-visible
        {
            pointer-events: none;
        }
    }
}
