@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

<root>
    <ChatBox/>
    <VoiceList/>

    <div class="pointer-visible" />

    <div class="header">
        <label>Top Down Game</label>
        <label class="subtitle">A template to kick start the production of your own games.</label>
    </div>
</root>

@code
{
    public override void Tick()
    {
        var devCam = Game.LocalClient.Components.Get<DevCamera>();
        SetClass( "camera-movement", Input.UsingController || Input.Down( "attack2" ) || devCam is not null );
    }
}