@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

<root>
    <ChatBox/>
    <VoiceList/>

    <div class="header">
        <label>Shooter Game</label>
        <label class="subtitle">A template to kick start the production of your own games.</label>
    </div>
</root>

@code
{
}